@model Library.ViewModels.Users.CreateVM;

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create new user";
}


<div class="d-flex flex-wrap border rounded-3 my-5 mx-auto form-container">
    <h3 class="text-center mt-3 mb-4">Create User</h3>

    <form class="flex-grow-1 form-details" action="/Users/Create" method="post">
        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Username, new { @class = " me-4 flex-grow-1" })
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control flex-grow-1" })
            @Html.ValidationMessageFor(m => m.Username, string.Empty, new { @class = "flex-grow-1" })
            </div>
        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Password, new { @class = " me-4 flex-grow-1" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control flex-grow-1" })
            @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "flex-grow-1" })

            </div>
            <div class="authError flex-grow-1">
                @Html.ValidationMessage("authError")
            </div>
        <div class="text-center my-4">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
</div>