@model Library.ViewModels.Users.EditVM;

@{
    this.Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Edit";
}

<fieldset>
    <legend>Edit</legend>
    <form action="/Users/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        <div class="grid">
            <div class="row">
                <div class="col-1">@Html.LabelFor(m => m.Username)</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Username)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Username)</div>
            </div>
            <div class="row">
                <div class="col-1">@Html.LabelFor(m => m.Password)</div>
                <div class="col-2">@Html.PasswordFor(m => m.Password)</div>
                <div class="col-2">@Html.ValidationMessageFor(m => m.Password)</div>
            </div>
            
            <div class="row">
                <div class="col-1"></div>
                <div class="col-2">
                    <input type="submit" class="right" value="Save" />
                </div>
            </div>
        </div>
    </form>
</fieldset>