@model Library.ViewModels.Books.EditVM;

@{
	ViewData["Title"] = "Edit book";
}
<div class="d-flex flex-wrap border rounded-3 my-5 mx-auto form-container">
    <h3 class="text-center mt-3 mb-4">Edit book</h3>

    <form class="flex-grow-1 form-details" action="/Books/Edit" method="post">
        @Html.HiddenFor(m => m.Id)

        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Title, new { @class = " me-4 flex-grow-1" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control flex-grow-1" })
            @Html.ValidationMessageFor(m => m.Title, string.Empty, new { @class = "flex-grow-1" })
        </div>

        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Author, new { @class = " me-4 flex-grow-1" })
            @Html.TextBoxFor(m => m.Author, new { @class = "form-control flex-grow-1" })
            @Html.ValidationMessageFor(m => m.Author, string.Empty, new { @class = "flex-grow-1" })
        </div>

        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Year, new { @class = " me-4 flex-grow-1" })
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control flex-grow-1", @type = "number" })
            @Html.ValidationMessageFor(m => m.Year, string.Empty, new { @class = "flex-grow-1" })
        </div>

        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Count, new { @class = " me-4 flex-grow-1" })
            @Html.TextBoxFor(m => m.Count, new { @class = "form-control flex-grow-1", @type = "number" })
            @Html.ValidationMessageFor(m => m.Count, string.Empty, new { @class = "flex-grow-1" })
        </div>

        <div class="flex-wrap my-3 d-flex w-50 mx-auto justify-content-end align-items-center">
            @Html.LabelFor(m => m.Categories, new { @class = " me-4 flex-grow-1" })
            @Html.ListBoxFor(m => m.SelectedCategoriesIds, Model.Categories, new { @class = "form-control flex-grow-1"})
        </div>

        <div class="text-center my-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>