@model Library.Entities.Book

@{
    ViewData["title"] = "Book Details";
}

<h2>Book Details</h2>

<fieldset class="form" align="left">
    <div class="grid">
        <div class="row">
            <div class="col-1">Title:</div>
            <div class="col-2">@Model.Title</div>
        </div>

        <div class="row">
            <div class="col-1">Author:</div>
            <div class="col-2">@Model.Author</div>
        </div>

        <div class="row">
            <div class="col-1">Year:</div>
            <div class="col-2">@Model.Year</div>
        </div>

        <div class="row">
            <div class="col-1">Count:</div>
            <div class="col-2">@Model.Count</div>
        </div>

        @if (Model.Reviews != null && Model.Reviews.Any())
        {
            <div class="row">
                <div class="col-1">Reviews:</div>
                <div class="col-2">
                    <ul>
                        @foreach (var review in Model.Reviews)
                        {
                            <li>
                                <strong>Score:</strong> @review.Assessment
                                <br />
                                <strong>Comment:</strong> @review.Comment
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        @if (Model.Categories != null && Model.Categories.Any())
        {
            <div class="row">
                <div class="col-1">Categories:</div>
                <div class="col-2">
                    <ul>
                        @foreach (var category in Model.Categories)
                        {
                            <li>@category.Name</li>
                        }
                    </ul>
                </div>
            </div>
        }

    </div>
</fieldset>
