@model Library.ViewModels.Home.HomeVM
@using Library.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Book Search</h1>

    <!-- Search Form -->
    <form method="get" asp-action="Index">
        <div class="row">
            <div class="col-2">
                <label for="Title">Name:</label>
                <input type="text" id="Title" name="Title" value="@Model.Title" class="form-control" />
            </div>
            <div class="col-2">
                <label for="Author">Author:</label>
                <input type="text" id="Author" name="Author" value="@Model.Author" class="form-control" />
            </div>
            <div class="col-2">
                <label for="Year">Year of publishing:</label>
                <input type="number" id="Year" name="Year" value="@Model.Year" class="form-control" />
            </div>
            <div class="col-2">
                <label for="Count">Count:</label>
                <input type="number" id="Count" name="Count" value="@Model.Count" class="form-control" />
            </div>
            <div class="col-2">
                <label for="Category">Category:</label>
                <select id="Category" name="CategoryId" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        if (category.Id == Model.CategoryId)
                        {
                            <option value="@category.Id" selected>@category.Name</option>
                        }
                        else
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="col-2 align-self-end">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/Home/Index" class="btn btn-secondary">Clear</a>
            </div>
        </div>
    </form>

    <div class="grid">
        <div class="row mt-4">
            <div class="col-3">Name:</div>
            <div class="col-3">Author:</div>
            <div class="col-3">Year of publishing:</div>
            <div class="col-3">Count:</div>
        </div>
        @foreach (Book item in Model.Books)
        {
            <div class="row">
                <div class="col-3">
                    <a href="@Url.Action("Details", "Books", new { id = item.Id })">@item.Title</a>
                </div>
                <div class="col-3">@item.Author</div>
                <div class="col-3">@item.Year</div>
                <div class="col-3">@item.Count</div>
            </div>
        }

        <div class="mt-3">
            @for (int i = 0; i < Model.PagesCount; i++)
            {
                <a href="/Home/Index?Page=@(i+1)&Title=@Model.Title&Author=@Model.Author&Year=@Model.Year&Count=@Model.Count&CategoryId=@Model.CategoryId" class="btn btn-secondary">
                    @(i + 1)
                </a>
            }
        </div>
         
        <div class="mt-3">
            @{
                await Html.RenderPartialAsync("_ImportExportPartial");
            }
        </div>
    </div>
</div>
